@media screen and (min-width: 768px) and (max-width: 992px) {
  .name-bar > * {
    display: none;
  }
  .fix-side {
    display: grid;
  }
  .cti-item {
    display: flex;
    flex-direction: column;
  }

  #lylich .container .row {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}
